# Virtual environments
venv/
.venv/
env/
ENV/
intellijob-env/
.conda/

# Databases
*db

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Env file
.env

# Others
*.html
experiments*
sample_files